# dependencies
node_modules/

# production
/.next/
/out/

# build output
build/
dist/

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.*.local

# vercel
.vercel/

# misc
*.pem
*.log

# editor folders
.vscode/
.idea/

# system files
.DS_Store
Thumbs.db

# optional lock files (if using one, you can remove the others)
package-lock.json
yarn.lock
pnpm-lock.yaml
